body {
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 15px;
line-height: 1.8;
color: rgba(0, 0, 0, 0.7); }
.container-wrap {
max-width: 1170px;
margin: 0 auto; }
a {
color: #2c98f0;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s; }
p {
font-size: 1rem;
margin-bottom: 1.5em; }
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0; }
  li a {
    color: #000;
    margin-left: 5px;
  }
/*---------------header-area------------------*/
#header-area{
  background: #F0FFF0;
}
.site-logo{
width: 198.07px;
height: 59px;
left: 212px;
margin-top: 30px;
}
.singin-button{
width: 104px;
margin-top: 29px;
height: 43px;
left: 1201px;
color: #fff;
background: #21B573;
border-radius: 33px;
}
.getstart-button{
padding: 12px 36px;
width: 153px;
height: 47px;
color: #fff;
background: #21B573;
border-radius: 33px;
}
/*---------------book-area------------------*/
#book-area{
  margin-top: 40px;
  margin-bottom: 40px;
}
.book-card {
  background: #F0FFF0;
  margin-bottom: 2rem;
  border: 1px solid #fff;
  border-radius: 10px;
}
.book-card:hover {
  box-shadow: 0px 0.1rem .4rem;
  background-color: #fff;
}
  .book-card-img {
    width: 66px;
    height: 85px;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
/*---------------courses-area------------------*/
.courses-img {
  padding: 21px;
  width: 100%;
}
.courses-card {
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.buy-course-button {
  background: #21B573;
  border-radius: 33px;
  color: #fff;
  padding: 8px 40px 8px 40px;
  margin-top: -8px;
}
.courses-icon {
  width: 18px;
  height: 20px;
  margin-top: -3px;
}
/*---------------testimonial-area------------------*/
#testimonial-area{
  margin-top: 4rem;
  margin-bottom: 5rem;
}
.testimonial-img{
  width: 120px;
  height: 120px;
}
/*---------------footer-area------------------*/
#footer-area{
  background-color: #282531;
}
.footer-menu ul{
  margin-top: -20px;
}
.footer-menu ul li {
  list-style: none;
  margin-left: -38px;
}
.footer-menu ul li a{
  color: #fff;
  list-style: none;
  text-decoration: none;
}
@media (max-width: 768px) {
  h1{
    font-size: 26px;
  }
  .getstart-button {
    padding: 2px 33px;
    width: 148px;
    height: 36px;
    margin-bottom: 2rem;
}
.buy-course-button {
  padding: 5px 12px;
}
}
@media (max-width: 480px) {
#header-area{
  text-align: center;
}
.col-3 {
  flex: 0 0 46%;
  max-width: 50%;
  margin: auto;
}
.col-4 {
  flex: 0 0 50%;
  max-width: 50%;
  margin: auto;
}
.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
  margin: initial;
}
.col-8 {
  margin: auto;
}
#testimonial-area {
  text-align: center;
}
.testimonial-img {
  align-items: center;
  margin-right: auto;
  margin-bottom: 2rem;
}
}